*, html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #000;
}

button, input.submit {
    cursor: pointer;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "content";
    grid-template-rows: 60px 1fr;
    grid-gap: 10px;
    height: 100vh;
}

.pageHeader {
    grid-area: header;
}

.content {
    grid-area: content;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.fas, .far {
    font-size: 1.5em;
    cursor: pointer;
}

.topbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.insta {
    font-family: 'Bellota', cursive;
    font-weight: 700;
    font-size: 2em;
}

.search_button:hover {
    cursor: pointer;
}

.menu_items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 20px;
}

.avatar {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

li:not(:first-child) {
    margin-left: 15px;
}

.profile_id {
    font-weight: 700;
    font-size: 1.5em;
}

.profile {
    display: grid;
    grid-template-areas: 
    "about"
    "tabs"
    "postGrid";
    grid-row: 300px 20px 1fr;
}

.about {
    grid-area: about;
    display: grid;
    grid-template-areas: 
    "profileAvatar profileDescription";
    grid-template-columns: 200px 1fr;
    grid-gap: 20px;
    border: 1px solid #000;
}

.profileAvatar {
    grid-area: profileAvatar;
    height: 200px;
    width: 200px;
    background-image: url(../images/profile.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 5px;
}

.profileDescription {
    grid-area: profileDescription;
    display: grid;
    grid-template-areas:
    "info"
    "counters"
    "name"
    "desc";
    grid-template-rows: 40px 20px 40px 1fr;
}

.info {
    grid-area: info;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.counters {
    grid-area: counters;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.counters p, .counter {
    font-size: 14px;
}

.counters p {
    padding-left: 10px;
}

.name {
    grid-area: name;
}

.profileName {
    font-weight: 700;
    font-size: 30px;
    padding-left: 10px;
}

.desc {
    grid-area: desc;
    padding-left: 10px;
}

.tabs {
    margin: 10px auto;
}

.postGrid {
    grid-area: postGrid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-bottom: 20px;
}

.postGrid img {
    width: 400px;
    border: 1px solid #000;
}

@media screen and (max-width: 420px) {
    body {
        grid-template-areas: 
        "content"
        "header";
    }

    .topbar {
        bottom: 0;
        padding: 5px 0;
        border-bottom: none;
        border-top: 1px solid #000;
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .search {
        display: none;
    }

    .menu i {
        font-size: 40px;
    }

    .menu img {
        height: 40px;
        width: 40px;
    }

    .menu_items {
        margin: 0;
    }

    li:not(:first-child) {
        margin-left: 50px;
    }

    .about {
        grid-template-columns: 50px 1fr;
        grid-gap: 0 ;
    }

    .profileAvatar {
        height: 50px;
        width: 50px;
    }

    .profileDescription {
        grid-template-rows: 30px 15px 30px 1fr;
    }

    .info a {
        font-size: 14px;
    }

    .counters p {
        font-size: 12px;
    }

    .profileName {
        font-size: 25px;
    }

    .desc p {
        font-size: 14px;
    }

    .tabs {
        margin: 5px auto;
    }

    .postGrid img {
        width: 95%;
        border: 1px solid #000;
}

    .postGrid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        text-align: center;
    }

@media screen and (min-width: 421px) {
    .topbar {
        top: 0;
    }
}